.item-details {
  display: flex;
  margin-top: 1rem;
  flex-direction: row;
  padding: 1rem;
}

.item-details .item-image {
  width: 30%;
  height: 30%;
  border-radius: 10px;
}

.item-details .list-group-item {
  padding: .25rem;
}

.item-details .list-group-item .term{
  margin-right: .5rem;
}

.select-item {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.spinner {
  margin: 1rem;
}

.card {
  border: 1px solid #444;
}